.container-control {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    .icon-play {
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        i {
            font-size: 7rem;
            color:#ffffff;
        }
    }
}